body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.ng_widget {
  height: auto;
  margin-bottom: 0;
}

.ng_widget::after {
  content: "";
  display: table;
  clear: both;
}

.requirements {
  max-width: 42em;
  width: 90%;
  margin: 0 auto;
}

.waitingroom {
  max-width: 42em;
  width: 90%;
  margin: 0 auto;
}

.ng-page-title {
  text-align: center;
}

iframe#ng_mainframe {
  width: 100%;
  height: 99%;
  padding: 0;
}

