/* Instructions css */

body {
    padding: 0;
    margin: 0;
}

div#root {
    width: 820px;
    margin: auto;
    margin-top: 20px;
    border: 3px solid #CCC;
    background: #DADCCB;
    padding: 20px;
    padding-top: 5px;
}

img.imgSample {
    width: 100px;
    border: 1px solid #CCC;
    margin: 30px;
    background: white;
}

img.imgSample:hover {
    pointer: hand;
    cursor: pointer;
}

dl#instrcat {
    margin: 40px 5px 40px 20px;
    padding-left: 10px;
}

dl#instrcat dt {
    margin-left: 30px 5px 20px 20px;
    font-weight: bold;
}

dl#instrcat dd {
    margin: 5px 5px 20px 20px;
}

.visualtimer {
    float: none;
    display: block;
    margin: auto;
    clear: both;
    text-align: center;
}

.tooltip {
    float: right;
    position: absolute; 
    z-index:24; 
    color: #000;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #CCC;
    padding: 2px;
    width: 300px;
}

/* scoretable table */

.scoretable {
    width: 800px;
    border: 3px solid #CCC;
    border-spacing: 0;
    margin: auto;
    font: "Arial, Verdana, Sans";
    margin-top: 20px;
}

.scoretable td {
    /* width: 306px; */
    padding: 20px;
    padding-top: 0;
    background: #DADCCB;
    margin: auto;
}

.scoretable td#td_image {
    text-align: center;
}

table#score td {
    width: 70px;
} 

table#score td.choicetable-left {
    width: 200px;
    height: 50px;
} 

.dimension {
    font-weight: bold;
} 

.choicetable .panel-body {
    background: #DADCCB;
}

table#score td.choicetable-left {
    width: 220px;
    height: 40px;
}

table.choicetable {
    border-spacing: 0px 20px;
    border-collapse: separate;
}

/* other */

img.image {
    width: 300px;
    border: 3px solid #CCC;
    margin: auto;
    margin-top: 20px;
    background: white;
}

ul {
    margin: 10px;
}

div#container_done {
    height: 100px;
    width: 98%;
    border: 0;
    padding:0;
    padding-top: 300px;
    background: white;
}


/* Scorepage */

button {
    font-size: 18px;
    width: 98%;
    height: 40px;
    cursor: pointer;
    pointer: hand;
}

button.yesno {
    width: 200px;
    margin: 10px auto;
}

.ui-slider .ui-slider-handle {
    cursor: pointer;
    pointer: hand;
}

/* Reformatting the button
   (importing the whole bootstrap messes up things */

.btn-copy {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.btn-copy:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn-copy:hover,
.btn-copy:focus {
    text-decoration: none;
}
.btn-copy:active,
.btn-copy.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-copy.disabled,
.btn-copy[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-info-copy {
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info-copy:hover,
.btn-info-copy:focus,
.btn-info-copy:active,
.btn-info-copy.active,
.btn-info:active,
.btn-info.active {
    color: #ffffff;
    background-color: #39b3d7;
    border-color: #269abc;
}
.btn-info-copy.disabled,
.btn-info-copy[disabled],
.btn-info-copy.disabled:hover,
.btn-info-copy[disabled]:hover,
.btn-info-copy.disabled:focus,
.btn-info-copy[disabled]:focus,
.btn-info-copy.disabled:active,
.btn-info-copy[disabled]:active,
.btn-info-copy.disabled.active,
.btn-info-copy[disabled].active {
    background-color: #5bc0de;
    border-color: #46b8da;
}