/* Instructions css */

body {
    padding: 0;
    margin: 0;
}

div#root {
    width: 820px;
    margin: auto;
    margin-top: 20px;
    border: 3px solid #CCC;
    background: #DADCCB;
    padding: 20px;
    padding-top: 5px;
}

img.imgSample {
    width: 100px;
    border: 1px solid #CCC;
    margin: 30px;
    background: white;
}

img.imgSample:hover {
    pointer: hand;
    cursor: pointer;
}

dl#instrcat {
    margin: 40px 5px 40px 20px;
    padding-left: 10px;
}

dl#instrcat dt {
    margin-left: 30px 5px 20px 20px;
    font-weight: bold;
}

dl#instrcat dd {
    margin: 5px 5px 20px 20px;
}

.visualtimer {
    float: none;
    display: block;
    margin: auto;
    clear: both;
    text-align: center;
}

.tooltip {
    float: right;
    position: absolute; 
    z-index:24; 
    color: #000;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #CCC;
    padding: 2px;
    width: 300px;
}

/* facecat table */

.scoretable {
    width: 800px;
    border: 3px solid #CCC;
    border-spacing: 0;
    margin: auto;
    font: "Arial, Verdana, Sans";
    margin-top: 20px;
}

.scoretable td {
    /* width: 306px; */
    padding: 20px;
    padding-top: 0;
    background: #DADCCB;
    margin: auto;
}

.scoretable td#td_face {
    text-align: center;
}


/* other */


img.face {
    width: 300px;
    border: 3px solid #CCC;
    margin: auto;
    margin-top: 20px;
    background: white;
}


ul {
    margin: 10px;
}


div#container_done {
    height: 100px;
    width: 98%;
    border: 0;
    padding:0;
    padding-top: 300px;
    background: white;
}


/* Facepage */

.eva_dis {
    text-align: center;
    border: 0;
    color: #f6931f;
    font-weight: bold;
    background: white;
    width: 50px;
    margin-left: 10px;
}

button {
    font-size: 18px;
    width: 98%;
    height: 40px;
    cursor: pointer;
    pointer: hand;
}